body {
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #333;
}



ul{
	padding:0;
}

content {
  background: #FFF;
  min-height: 700px;
}
footer{
	background: url(/static/images/nav_bg_repeat.jpg);
	background-repeat: repeat-x;
	background-position: top left;
	color: #FFF;
  height: 50px;
	padding-top:15px;
	margin: 0 auto;
}
.content{
	margin: 0px;
}

.left-content{
	/*background: rgba(255, 0, 0, 1);*/
	width: 450px;
	padding: 10px;
}
.right-content{
	background:rgba(0,0,0,.1);
	padding: 10px;
	vertical-align:top;
	width: 565px;
	margin-top: 50px;
}








