{% extends "./admin/base.html" %}

{% block headerpage %}
<div class="container">
  <h3>{{agency.name}}</h3>
  <hr/>
</div>
{% endblock %}

{%block left-content%}
  {% include "./admin/agency_tabs.html" %}
{%endblock%}

{% block right-content %}
<div class="col-sm-9">
  <div class="col-sm-6" id="mpfr">
    {% include "./admin/monthly_reqs.html" %}
  </div>

  <div class="col-sm-6" id="wfp">
    {% include "./admin/wfp_reqs.html" %}
  </div>

  <div class="col-sm-6" id="wfp">
    {% include "./admin/quarterly_reqs.html" %}
  </div>
</div>
{% endblock %}
