{% extends "./admin/base.html" %}

{% block right-content %}
<div class="col-sm-8">
  <div class="col-sm-12">
    <h2>Agency/Office Form 
      <small> 
	<a href="/admin/agencies">Show List of Agencies/Officies</a>
      </small>
    </h2>
    <hr/>
    <form action="/admin/pm_agency" class="form" method="POST">{% csrf_token %}
      {%include "msg_pane.html"%}
      <input type="hidden" name="action" value="{{mode}}">
      <input type="hidden" name="id" value="{{agency_id}}">
      <div class="form-group">
	<label>Name of Agency/Office</label>
	{{form.name}}
      </div>
      <div class="form-group">
	<label>Email</label>
	{{form.email}}
      </div>
      <div class="form-group">
	<label>Agencie's Sector</label>
      {{form.sector}}
      </div>
      <button type="submit" class="btn btn-primary">
	Save
      </button>
    </form>
  </div>
</div>
{% endblock %}
