{% extends "./admin/base.html" %}

{%block left-content%}
  {% include "./admin/agency_tabs.html" %}
{%endblock%}

{% block right-content %}
<div class="col-sm-9">
  <h2>{{agency.name}}</h2>
  <p>{{agency.email}}</p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Requirements Status</h4>
    </div>
    <div class="panel-body">
      <p>
      <b>Note : </b> &nbsp;
      The documents with check marks are submitted documents, the latter is unsubmitted
      </p>
      {% if submitted_docs %}
         <ul style="list-style-type: none">
         {% for doc in submitted_docs %}
	    {% if doc.date_submitted %}
             <li><span class="glyphicon glyphicon-check text-success"></span>&nbsp;<b>{{doc.doc_name}}</b> &nbsp; <i><span style="font-weight:.30">Submitted on {{doc.date_submitted}}</span></i></li>
	     {% else %}
	     <li><span class="glyphicon glyphicon-unchecked text-danger"></span>&nbsp;{{doc.doc_name}}</li>
	     {% endif %}
         {% endfor %}
	 </ul>
      {% endif %}
    </div>

    <div class="panel-footer">
      <p><b>Remarks :</b>
	{% if remarks == "PROCESSED" %}
	   &nbsp;<span class="glyphicon glyphicon-check text-success"></span>&nbsp;{{remarks}}
	{% else %}
	   &nbsp;<span class="glyphicon glyphicon-stop text-danger"></span>&nbsp;{{remarks}}
	{% endif %}
      </p>
    </div>

  </div>
</div>
{% endblock %}
