<div class="col-sm-3">
  <ul class="nav nav-stack">
    <li {%if agency_tab == "reqs"%} class="active" {%endif%}>
      <a href="/admin/manage_agency_docs?agency_id={{agency.id}}">
	Requirements
      </a>
    </li>
    <li {%if agency_tab == "wfp"%} class="active" {%endif%}>
      <a href="/agency/wfp/wfpinfo?agency_id={{agency.id}}">
	Work and Financial Plan
      </a>
    </li>
    <li {%if agency_tab == ""%} class="active" {%endif%}>
      <a href="/agency/fund/monthly_alloc?agency_id={{agency.id}}">
	Monthly Cash Allocation
      </a>
    </li>

    <li {%if agency_tab == "fund_rel"%} class="active" {%endif%}>
      <a href="/admin/monthly_reports?agency_id={{agency.id}}">
	Monthly Report of Operation
      </a>
    </li>

    <li {%if agency_tab == ""%} class="active" {%endif%}>
      <a href="/agency/fund/allotment_releases?agency_id={{agency.id}}">
	Allotment Releases
      </a>
    </li>
    <li {%if agency_tab == "tab"%} class="active" {%endif%}>
      <a href="/agency/wfp/approved_budget?agency_id={{agency.id}}">
	Total Approved Budget
      </a>
    </li>
    <li {%if agency_tab == "tab"%} class="active" {%endif%}>
      <a href="/agency/wfp/co_request?agency_id={{agency.id}}">
	Request Receive
      </a>
    </li>
  </ul>
</div>
