{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/rbmo.css">
{% endblock %}

{% block content %}

<content>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="col-sm-12 login-form">
	<div class="media" style="margin-top:10px;">
	  <a href=""class="pull-left">
	    <img class="media-object" src="/static/images/lock-icon.png" width="100px" height="100px"/>
	  </a>
	  <div class="media-body">
	    <h3 class="media-heading">Login</h3>
	    <p>If youre an active  RBMO Employee, Please Enter your valid email and password to login and use the <b>Regional Budget Management System</b></p>
	  </div>
	</div>
	<br/>
	<form action="/admin/" role="form" method="POST">{% csrf_token %}
	  {%include "msg_pane.html"%}
	  <div class="form-group">
	    {{form.email}}
	  </div>

	  <div class="form-group">
	    {{form.password}}
	  </div>

	  <div class="form-group">
	    <button type="submt" class="btn btn-primary">Login</button>
	  </div>
	</form>
      </div>
    </div>
  </div>
</content>

{% endblock %}
