{% extends "./admin/base.html" %}

{%block right-content%}
<h2>{{page_title}}</h2>
<div class="col-sm-8 div">
  <form action="/admin/add_edit_ugroup" class="form-horizontal" method="POST">{%csrf_token%}
    {%include "msg_pane.html"%}
    <input type="hidden" id="action" name="action" value="{{action}}">
    <input type="hidden" id="user_group_id" name="user_group_id" value="{{user_group_id}}">
    <div class="form-group">
      <label class="col-sm-3">User Group Name</label>
      <div class="col-sm-6">
	{{form.name}}
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3">Group Permissions</label>
      <div class="col-sm-9">
	{%for perm in permissions%}
        <div class="col-sm-6">
	  <label>
	    <input type="checkbox" class="id_perms" name="perms[]" value="{{perm.id}}"/>&nbsp;{{perm.name}}
	  </label>
	</div>
	{%endfor%}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-3">
	<button type="submit" name="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </form>
</div>
{%endblock%}
