<h4>{{allocation}} - Fund Status Details</h4>
{% if fund_stat_details %}
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Release Date</th>
      <th>Particulars</th>
      <th  style="text-align: right">Released</th>
      <th  style="text-align: right">Remaining Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr
      <td></td><td></td><td></td><td></td>    
      <td class="decimal">{{total}}</td>
    </tr>
    {% for detail in fund_stat_details%}
    <tr>
      <td>{{detail.release_date}}</td>
      <td>{{detail.activity}}</td>
      <td style="text-align: right">{{detail.release_amount}}</td>
      <td style="text-align: right">{{detail.balance}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% else %}
<div class="alert alert-info">
  Currently No Release Transaction
</div>
{% endif %}
