{% extends "base.html" %}

{% block css %}
<link href="/static/css/rbmo.css" rel="stylesheet">
{% endblock %}

{% block content %}
<content>
  <div class="container">
    <div class="jumbotron home-banner" >
      <h2>Regional Budget Management Office</h2>
      <p>ARMM Compound Cotabato City</p>
    </div>

    <div class="col-sm-3" style="border:1px solid;border-color: rgba(230, 230,230, .6)">
      <h4>LOGIN AS</h4>
      <ul class="nav nav-pills nav-stacked">
	<li>
	  <a href="/admin"><span class="glyphicon glyphicon-user"></span>&nbsp;
	    RBMO Employee
	  </a>
	</li>
	<li>
	  <a href=""><span class="glyphicon glyphicon-home"></span>&nbsp;
	    Agency/Office
	  </a>
	</li>
      </ul>
    </div>

    <!--right panel-->

    <div class="col-sm-9">
      <div class="panel panel-default" style="min-height:300px">
	<div class="panel-heading">
	  <strong>Activities</strong>
	</div>
	<div class="panel-body">
	  
	</div>
      </panel>
    </div>

  </div>
</content>
{% endblock %}
